.page-item .prev {
    display: none;
}
.page-item .next{
    display: none;
}
.bg-black{
    background-color: black;
}
.page-link, .page-item{
    background-color: inherit;
    color: inherit;
}
.page-item .ellipse{
    background-color: inherit!important;
    color: inherit!important;
}